<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CFMembershipSettings" type="Holyprin.Web.Security.CFMembershipSettings, Holyprin.Web.Security" />
	</configSections>
	
	<connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=Holyprin.Web.Security.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe.4.0" />
	</connectionStrings>

	<CFMembershipSettings
		dbContext="Holyprin.Web.Security.BaseContext, Holyprin.Web.Security"
		userObject="Holyprin.Web.Security.BaseUser, Holyprin.Web.Security"
		roleObject="Holyprin.Web.Security.BaseRole, Holyprin.Web.Security"
		keyType="System.Guid" userTableName="Users" roleTableName="Roles" />

	<system.web>
		<membership defaultProvider="CFMembershipProvider">
			<providers>
				<clear/>
				<add applicationName="/" requiresQuestionAndAnswer="false"
				  requiresUniqueEmail="true" minRequiredNonalphanumericCharacters="0"
				  enablePasswordReset="true" connectionStringName="ApplicationServices"
				  name="CFMembershipProvider" type="Holyprin.Web.Security.CFMembershipProvider, Holyprin.Web.Security" />
			</providers>
		</membership>
	</system.web>

</configuration>